.number-regular {
    width: 30px;
    height: 30px;
    border: solid;
    border-width: 1px;
    margin: 5px;
}

.number-active {
    width: 30px;
    height: 30px;
    border: solid;
    border-width: 1px;
    margin: 5px;
    font-weight: bold;
}

